.myOrdersPage {
   width: 100vw;
   max-width: 100%;
   padding: 0 7vmax;
   box-sizing: border-box;
   background-color: rgb(221, 230, 237);
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   display: flex;
   flex-direction: column;
 }
 
 #myOrdersHeading {
   text-align: center;
   font: 400 1.2vmax "Roboto";
   padding: 0.5vmax;
   box-sizing: border-box;
   color: rgb(221, 230, 237);;
   transition: all 0.5s;
   background-color: rgb(39, 55, 77);
 }
 
 .myOrdersTable {
   background-color: rgb(221, 230, 237);
   border: 1px solid rgb(157, 178, 191); 
    box-shadow: 0 0 5px rgba(134, 168, 214, 0.5); 
 }
 
 .myOrdersTable div {
   font: 300 1vmax "Roboto";
   color:#526D82;
   border: none;
 }
 
 .myOrdersTable a {
   color: rgb(39, 55, 77);
   transition: all 0.5s;
 }
 
 .myOrdersTable a:hover {
   color: #CC0E74;
 }
 
 .MuiDataGrid-columnHeader {
   background-color: #27374D;
   padding: 1vmax !important;
 }
 
 .MuiDataGrid-columnHeader div {
   color: rgb(221, 230, 237);
   font: 500 1.1vmax "Roboto" !important;
 }
 
 .MuiDataGrid-iconSeparator {
   display: none !important;
   
 }
 
 @media screen and (max-width: 600px) {
   .myOrdersPage {
     padding: 0;
     height: 93vh;
   }
 
   #myOrdersHeading {
     font: 400 2.2vmax "Roboto";
     padding: 4vw;
   }
 
   .myOrdersTable div {
     font: 300 4vw "Roboto";
   }
 
   .MuiDataGrid-columnHeader {
     padding: 20px !important;
   }
 
   .MuiDataGrid-columnHeader div {
     font: 500 5vw "Roboto" !important;
   }
 }
 