.profileContainer {
   display: flex;
   height: 100vh;
   width: 100vw;
   position: fixed;
   top: 0%;
   left: 0%;
   max-width: 100%;
   background-color:rgb(157, 178, 191);
 }

 .profileContainer > div {
   display: flex;
   height: 100vh;
   width: 100vw;
   max-width: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 
 .profileContainer > div:first-child > h1 {
   color: rgb(39,55,77);
   font: 500 2.2vmax "Roboto";
   transform: translateX(-10vmax) translateY(-2vmax);
 }
 
 .profileContainer > div:first-child > img {
   width: 20vmax;
   border-radius: 100%;
   transition: all 0.5s;
 }
 
 .profileContainer > div:first-child > img:hover {
   transform: scale(1.05);
 }

 .profileContainer > div:first-child > a {
   border: none;
   background-color: #526D82;
   font: 400 1vmax "Roboto";
   color: rgb(221, 230, 237);
   text-decoration: none;
   padding: 0.5vmax;
   width: 30%;
   margin: 4vmax;
   border-radius: 4px;
   text-align: center;
   border: 1px solid rgb(82, 109, 130);
   box-shadow: 0 2px 5px rgba(80, 100, 130, 0.5);
   transition: all 0.5s;
 }
 
 .profileContainer > div:first-child > a:hover {
   background-color: rgb(157, 178, 191);
 }
 .profileContainer > div:last-child {
   justify-content: space-evenly;
   align-items: flex-start;
   padding: 5vmax;
   box-sizing: border-box;
 }
 
 .profileContainer > div:last-child > div > h4 {
   color: rgb(39,55,77);
   font: 400 1.3vmax "Roboto";
 }
 .profileContainer > div:last-child > div > p {
   color: rgb(82, 109, 130);
   font: 400 1vmax cursive;
   margin: 0.2vmax;
 }
 .profileContainer > div:last-child > div:last-child {
   display: flex;
   flex-direction: column;
   width: 60%;
 }
 
 .profileContainer > div:last-child > div:last-child > a {
  border: none;
  background-color:#526D82;
  color: rgb(221, 230, 237);
  font: 400 1vmax "Roboto";
  width: 100%;
  padding: 0.5vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  text-align: center;
  margin: 1vmax 0;
  
  border: 1px solid rgb(82, 109, 130);
  box-shadow: 0 2px 5px rgba(80, 100, 130, 0.5);
 }
 
 .profileContainer > div:last-child > div:last-child > a:hover {
   background-color: rgb(31, 31, 31);
 }
 @media screen and (max-width: 600px) {
   .profileContainer {
     flex-direction: column;
   }
 
   .profileContainer > div:first-child > h1 {
     font: 500 3.2vmax "Roboto";
     transform: translateY(-2vmax);
   }
 
   .profileContainer > div:first-child > a {
     font: 400 1.7vmax "Roboto";
     padding: 1vmax;
   }
 
   .profileContainer > div:last-child {
     text-align: center;
     align-items: center;
   }
 
   .profileContainer > div:last-child > div > h4 {
     font: 400 2.5vmax "Roboto";
   }
 
   .profileContainer > div:last-child > div > p {
     font: 400 2vmax cursive;
     margin: 0.5vmax 0;
   }
 
   .profileContainer > div:last-child > div:last-child > a {
     font: 400 1.8vmax "Roboto";
     padding: 1vmax;
     margin: 2vmax 0;
   }
 }
 